<div class ="text-center">
  <%= form_for(@article) do |f|%>
    <%@article.errors.full_messages.each do |message|%>
      <div class="text-center">
        * <%=message%>
      </div>
    <%end%>
    <div class="row">
      <h2>Post Nuevo</h2>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group">
          <div class="form-group">
            <%=f.text_field :title, placeholder:"Titulo", class:"form-control"%>
          </div>
          <div class="form-group">
            <%=f.text_area :body, placeholder:"Texto", class:"form-control"%>
          </div>
          <div class="form-group">
            <%=f.submit "Guardar" , class:"btn btn-success"%>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    
  <%end%>
  </div>