
<!-- Navigation -->
    
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          
          <h1 class="page-header">
            Page Heading
            <small>
              Secondary Text
            </small>
          </h1>
          <!-- First Blog Post -->
          <h2>
            <a href="#">
              Blog Post Title
            </a>
          </h2>
          <p class="lead">
            by
            <a href="index.php">
              Start Bootstrap
            </a>
          </p>
          <p>
            <span class="glyphicon glyphicon-time">
            </span>
            Posted on August 28, 2013 at 10:00 PM
          </p>
          <hr/>
          <img alt="" class="img-responsive" src="http://placehold.it/900x300"/>
            <hr/>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
            </p>
            <a class="btn btn-primary" href="#">
              Read More
              <span class="glyphicon glyphicon-chevron-right">
              </span>
            </a>
            <hr/>
            
          
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Blog Search Well -->
          <div class="well">
            <h4>
              Blog Search
            </h4>
            <div class="input-group">
              <input class="form-control" type="text">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </input>
            </div>
            <!-- /.input-group -->
          </div>
          <!-- Blog Categories Well -->
          <div class="well">
            <h4>
              Blog Categories
            </h4>
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Category Name
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- Side Widget Well -->
          <div class="well">
            <h4>
              Side Widget Well
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
            </p>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <hr/>
      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>
              Copyright © Your Website 2014
            </p>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </footer>
    </div>
    <!-- /.container -->